# Dependencies
node_modules/

# Environment
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
coverage/

# OS files
.DS_Store

# Database files
*.db
*.db-shm
*.db-wal
*.custom
pgdump_*.custom
